@layer base {
    body {
        background-color: var(--main-bg-color);
        color: var(--heading-color);
        max-width: 100%;
        padding: 0;
        margin: 0;
        font-family: var(--font-family-base);
        font-size: 18px;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 100vh;
    }

    body.no-scroll {
        overflow: hidden;
    }

    ::selection {
        background: var(--main-link-color);
        color: var(--main-darker-bg);
    }

    :focus-visible {
        outline: 2px solid var(--main-link-color);
        outline-offset: 2px;
    }

    *:not(dialog) {
        margin: 0;
        padding: 0;
        border: none;
        clear: both;
        box-sizing: border-box;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    code {
        background: var(--low-contrast-color);
        font-size: 14px;
    }

    video {
        margin: 5em auto 2em;
        width: 100%;
        background-color: #000;
        height: auto;
    }

    .strong {
        font-weight: bold;
    }

    .weak {
        font-weight: normal;
        font-size: 0.9rem;
        color: var(--medium-contrast-color);
    }

    .switch {
        /* switch */
        --switch-width: 62px;
        --switch-height: 32px;
        --switch-bg: var(--low-contrast-color);
        --switch-checked-bg: var(--secondary-link-color);
        --switch-offset: calc((var(--switch-height) - var(--circle-diameter)) / 2);
        --switch-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
        /* circle */
        --circle-diameter: 24px;
        --circle-bg: #fff;
        --circle-shadow: var(--shadow-button);
        --circle-checked-shadow: var(--circle-shadow);
        --circle-transition: var(--switch-transition);
        /* icon */
        --icon-transition: all .2s cubic-bezier(0.27, 0.2, 0.25, 1.51);
        --icon-cross-color: var(--switch-bg);
        --icon-cross-size: 8px;
        --icon-checkmark-color: var(--switch-checked-bg);
        --icon-checkmark-size: 13px;
        /* effect line */
        --effect-width: calc(var(--circle-diameter) / 2);
        --effect-height: calc(var(--effect-width) / 2 - 1px);
        --effect-bg: var(--circle-bg);
        --effect-border-radius: 1px;
        --effect-transition: all .2s ease-in-out;
    }

    .switch input {
        display: none;
    }

    .switch {
        display: inline-block;
    }

    .switch svg {
        transition: var(--icon-transition);
        position: absolute;
        height: auto;
    }

    .switch .checkmark {
        width: var(--icon-checkmark-size);
        color: var(--icon-checkmark-color);
        transform: scale(0);
    }

    .switch .cross {
        width: var(--icon-cross-size);
        color: var(--icon-cross-color);
    }

    .slider {
        width: var(--switch-width);
        height: var(--switch-height);
        background: var(--switch-bg);
        border-radius: 999px;
        display: flex;
        align-items: center;
        position: relative;
        transition: var(--switch-transition);
        cursor: pointer;
    }

    .switch-circle {
        width: var(--circle-diameter);
        height: var(--circle-diameter);
        background: var(--circle-bg);
        border-radius: inherit;
        box-shadow: var(--circle-shadow);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: var(--circle-transition);
        z-index: 1;
        position: absolute;
        left: var(--switch-offset);
    }

    .slider::before {
        content: "";
        position: absolute;
        width: var(--effect-width);
        height: var(--effect-height);
        left: calc(var(--switch-offset) + (var(--effect-width) / 2));
        background: var(--effect-bg);
        border-radius: var(--effect-border-radius);
        transition: var(--effect-transition);
    }

    .switch input:checked + .slider {
        background: var(--switch-checked-bg);
    }

    .switch input:checked + .slider .checkmark {
        transform: scale(1);
    }

    .switch input:checked + .slider .cross {
        transform: scale(0);
    }

    .switch input:checked + .slider::before {
        left: calc(100% - var(--effect-width) - (var(--effect-width) / 2) - var(--switch-offset));
    }

    .switch input:checked + .slider .switch-circle {
        left: calc(100% - var(--circle-diameter) - var(--switch-offset));
        box-shadow: var(--circle-checked-shadow);
    }

    a {
        color: var(--main-link-color);
        text-decoration: none;
        font-weight: bold;
        border-radius: 2px;
        transition: all 0.2s linear;
    }

    a:hover {
        color: oklch(from var(--main-link-color) calc(1 - 0.075) c h);
    }

    h1 {
        font-size: 39px;
    }

    h1,
    h2,
    h3,
    h4 {
        font-family: var(--font-family-heading);
        letter-spacing: 0;
        color: var(--heading-color);
        font-weight: 600;
        text-transform: uppercase;
        font-style: italic;
        font-size: 2em;
    }

    img {
        max-width: 100%;
    }

    .grid {
        --grid-max-col-count: attr(grid-max-col-count type(<number>), 4);
        --grid-min-col-size: 300px;
        --grid-gap: 1rem;
        --grid-gap-vertical: 1rem;

        --grid-col-size-calc: calc((100% - var(--grid-gap) * var(--grid-max-col-count)) / var(--grid-max-col-count));
        --grid-col-min-size-calc: min(100%, max(var(--grid-min-col-size), var(--grid-col-size-calc)));

        display: grid;
        grid-column-gap: var(--grid-gap);
        grid-row-gap: var(--grid-gap-vertical);
        grid-template-columns: repeat(auto-fit,
                minmax(var(--grid-col-min-size-calc), 1fr));

        & .grid-inline-text {
            grid-column: 1 / -1;
        }

        & .break {
            grid-column: 1 / -1;
        }
    }

    .grid-500 {
        --grid-min-col-size: 500px;
    }

    .grid-400 {
        --grid-min-col-size: 400px;
    }

    .grid-300 {
        --grid-min-col-size: 300px;
    }

    .grid-200 {
        --grid-min-col-size: 200px;
    }

    .grid-150 {
        --grid-min-col-size: 150px;
    }

    .grid-gap-sm {
        --grid-gap: 0.5rem;

        @media screen and (max-width: 1000px) {
            --grid-gap: 1rem;
        }
    }

    .grid-gap {
        --grid-gap: 1rem;
    }

    .grid-gap-lg {
        --grid-gap: 2rem;
    }

    .grid-gap-xl {
        --grid-gap: 3rem;

        @media screen and (max-width: 1000px) {
            --grid-gap: 2rem;
        }
    }

    .grid-gap-row-sm {
        --grid-gap-vertical: 0.5rem;

        @media screen and (max-width: 1000px) {
            --grid-gap-vertical: 1rem;
        }
    }

    .grid-gap-row {
        --grid-gap-vertical: 1rem;
    }

    .grid-gap-row-lg {
        --grid-gap-vertical: 2rem;
    }

    .grid-gap-row-xl {
        --grid-gap-vertical: 3rem;

        @media screen and (max-width: 1000px) {
            --grid-gap-vertical: 2rem;
        }
    }

    .tabs {
        display: flex;
        gap: 1rem;
        position: relative;
        border-bottom: 1px solid var(--border-stroke-weak);
        --slider-left: 0px;
        --slider-width: 0px;

        & .option {
            padding: 0.5rem 0;
            color: var(--heading-color);
            font-weight: 600;
            border-bottom: 3px solid transparent;
            font-size: 1rem;
            border-radius: 0;
            position: relative;
            z-index: 2;
            transition: color 0.3s ease;

            &.active ~ .slider {
                background: var(--main-link-color);
                left: var(--slider-left);
                width: var(--slider-width);
            }

            &:not(.active):hover ~ .slider {
                background: var(--heading-color);
            }

            &.active {
                color: var(--main-link-color);
                pointer-events: none;
            }
        }

        & .slider {
            position: absolute;
            bottom: -1px;
            height: 3px;
            background: var(--heading-color);
            transition: left 0.3s ease, width 0.3s ease, background 0.2s ease;
            z-index: 1;
            
            &.slider-active {
                background: var(--main-link-color);
            }
            
            &.slider-hover {
                background: var(--heading-color);
            }
        }
    }

    .header-dashed {
        text-transform: uppercase;
        color: var(--paragraph-color);
        font-family: var(--font-family-heading);
        font-size: 1rem;
        border-bottom: 2px dashed var(--low-contrast-color);
        padding: 0.5rem 0;
        letter-spacing: 0.2rem;
        font-weight: 600;
        opacity: 0.8;
        font-style: italic;
        margin-top: 3rem;
    }

    .header-text-gradient {
        margin: 3em 0 0;
        font-size: 1.9em;
        font-style: normal;
        font-weight: 400;
        text-transform: unset;
        line-height: 1.7;
        color: var(--secondary-link-color);
        background: var(--gradient-text);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }

    .header-text {
        margin: 0;
        font-size: 1.9em;
        font-style: italic;
        text-transform: uppercase;
        font-weight: 600;
        line-height: 1.7;
        color: var(--paragraph-color);
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        box-shadow: none !important;
        background-color: none !important;
    }

    ::placeholder {
        color: var(--gray);
        font-weight: bold;
    }

    :-ms-input-placeholder {
        color: var(--gray);
    }

    ::-ms-input-placeholder {
        color: var(--gray);
    }

    strong {
        font-weight: bold;
    }

    p {
        font-size: 1rem;
        color: var(--paragraph-color);
    }

    p.sm {
        font-size: 0.8rem;
    }

    button {
        font-family: var(--font-family-base);
        font-weight: bold;
        cursor: pointer;
    }

    .btn {
        padding: 0.7rem 1rem;
        display: flex;
        align-items: center;
        border-radius: 5px;
        background-color: var(--main-link-color);
        color: var(--main-bg-color);
        box-shadow: var(--shadow-button);
        position: relative;
        transition: all 0.2s linear;
        will-change: transform, background-color, color, outline;
        white-space: nowrap;
    }

    .btn.sm {
        padding: 0.5rem 0.75rem;
        font-size: 0.8rem;
    }

    .btn.sm i {
        margin-right: 0.35em;
        font-size: 1rem;
    }

    .btn.sm.outline {
        background-color: transparent;
        color: var(--heading-color);
        box-shadow: inset 0 0 0 2px var(--paragraph-color);
        padding: 0.4rem 0.7rem;
        font-size: 0.7rem;
    }

    .btn.sm.outline:hover {
        color: var(--main-link-color);
        box-shadow: inset 0 0 0 2px var(--main-link-color);
    }

    .btn:hover {
        background-color: oklch(from var(--main-link-color) calc(1 - 0.35) c h);
        color: var(--main-bg-color);
    }

    .btn:active {
        background-color: oklch(from var(--main-link-color) calc(1 - 0.55) c h);
        transform: scale(0.9);
    }

    .btn.subtle {
        background-color: var(--semi-frost-bg);
        color: var(--medium-contrast-color);
    }

    .btn.subtle:hover {
        color: var(--heading-color);
        background-color: var(--low-contrast-color);
    }

    .btn i {
        margin-right: 0.5rem;
        font-size: 1.4rem;
    }

    .btn i.right {
        margin-right: 0;
        position: absolute;
        right: 0.5rem;
    }

    select {
        font-family: var(--font-family-base);
        font-weight: 600;
        font-size: 0.9rem;
        cursor: pointer;
        background-color: var(--semi-frost-bg);
        color: var(--heading-color);
        border: 1px solid var(--border-stroke-weak);
        padding: 0.5rem 0.7rem;
        border-radius: 5px;

        transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        appearance: base-select;

        &::picker-icon {
            content: "\F282";
            font-family: var(--font-family-icons);
            color: var(--medium-contrast-color);
            font-size: 0.8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        }

        &:open::picker-icon {
            rotate: 180deg;
        }

        &::picker(select) {
            appearance: base-select;
            background-color: transparent;
            border: none;
            outline: none;
            overflow: clip;
        }

        & .select-options {
            margin-top: 1rem;
            opacity: 0;
            background-color: var(--black-white);
            border-radius: 5px;
            overflow: clip;
            border: 1px solid var(--border-stroke-weak);

            transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);

            & option {
                display: flex;
                align-items: center;
                color: var(--heading-color);
                padding-block: 0.5rem;
                padding-inline: 1rem;

                &:is(:checked) {
                    background-color: var(--main-link-color);
                    color: var(--black-white);
                }
            }
        }

        &:open .select-options {
            opacity: 1;
        }
    }

    .stat-display {
        font-size: 2.3rem;
        font-weight: 600;
        color: var(--heading-color);
        font-family: var(--font-family-heading);
    }

    .indicator {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: var(--secondary-link-color);
        display: inline-block;
        margin-right: 0.3rem;
        transform: translateY(-3px);
    }

    [data-tooltip] {
        position: relative;
        z-index: 10;
    }

    a[data-tooltip] {
        cursor: pointer;
    }

    [data-tooltip]:before,
    [data-tooltip]:after {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transform: translateY(10px);

        transition: opacity 0.2s linear, visibility 0.2s linear, transform 0.22s ease-out;

        @starting-style {
            visibility: hidden;
            opacity: 0;
            pointer-events: none;
            transform: translateY(10px);
        }
    }

    [data-tooltip]:before {
        content: attr(data-tooltip);
        position: absolute;
        bottom: 150%;
        left: 50%;
        margin-bottom: 5px;
        margin-left: -86px;
        padding: 7px;
        width: 160px;
        border-radius: 3px;
        background-color: var(--second-content-box-bg);
        color: var(--heading-color);
        text-align: center;
        font-weight: 500;
        font-size: 0.8rem;
        line-height: 1.4;
        box-shadow: var(--shadow-button);
        border: 1px solid var(--border-stroke-weak);
        z-index: 999;
    }

    [data-tooltip]:after {
        position: absolute;
        bottom: 150%;
        left: 50%;
        margin-left: -5px;
        width: 0;
        width: 10px;
        height: 10px;
        background-color: var(--second-content-box-bg);
        rotate: 45deg;
        border: 1px solid var(--border-stroke-weak);
        content: " ";
        font-size: 0;
        line-height: 0;
        z-index: 9999;
        mask: var(--tooltip-mask);
    }

    [data-tooltip]:hover:before,
    [data-tooltip]:hover:after {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    [data-tooltip]:hover:after {
        rotate: 45deg;
    }

    .tag {
        color: var(--paragraph-color);
        font-size: 0.85rem;
        padding: 0.15rem 0.4rem;
        background-color: var(--border-stroke-weak);
        backdrop-filter: blur(10px);
        font-weight: bold;
        border-radius: 3px;
        display: inline-block;
    }

    .t-lg {
        font-size: 1rem;
    }

    .t-strong {
        color: var(--heading-color);
        background-color: var(--header-background);
        box-shadow: var(--shadow-box);
    }

    .trend {
        color: var(--medium-contrast-color);
        font-size: 0.85rem;
    }

    .trend.up {
        color: var(--green);
    }

    .trend.down {
        color: var(--secondary-link-color);
    }

    .final-rank {
        display: flex;
        align-items: center;
    }

    .final-rank .number {
        display: inline-block;
        min-width: 60px;
    }

    .alert {
        --main-link-dark-color: oklch(from var(--main-link-color) calc(1 - 0.1) calc(1 - 0.8) h);
        @media (prefers-color-scheme: dark) {
            --main-link-dark-color: oklch(from var(--main-link-color) calc(1 - 0.7) c h);
        }
        --main-link-normal: var(--main-link-color);
        --background-gradient: linear-gradient(160deg, var(--main-link-dark-color) 0%, var(--content-box-bg) 30%, var(--dark-bg-color) 100%), linear-gradient(160deg, var(--main-link-normal), var(--border-stroke), var(--border-stroke-weak));
        
        color: var(--main-link-color);
        line-height: 1.4;
        width: 100%;
        padding: 2rem 3rem;
        border: 1px solid transparent;
        background-image: var(--background-gradient);
        background-origin: border-box;
        background-clip: padding-box, border-box;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;

        @media (prefers-color-scheme: dark) {
            box-shadow: inset 0 1px 2px hsla(188, 100%, 85%, 0.08), inset 0px 3px 9px 0px rgba(148, 229, 243, 0.05);
        }

        @media (max-width: 700px) {
            padding: 2rem;
        }

        &.danger {
            --main-link-dark-color: oklch(from var(--secondary-link-color) calc(1 - 0.1) calc(1 - 0.8) h);
            @media (prefers-color-scheme: dark) {
                --main-link-dark-color: oklch(from var(--secondary-link-color) calc(1 - 0.7) c h);
            }
            --main-link-normal: var(--secondary-link-color);
            --background-gradient: linear-gradient(160deg, var(--main-link-dark-color) 0%, var(--content-box-bg) 30%, var(--dark-bg-color) 100%), linear-gradient(160deg, var(--main-link-normal), var(--border-stroke), var(--border-stroke-weak));
            color: var(--secondary-link-color);

            @media (prefers-color-scheme: dark) {
                box-shadow: inset 0 1px 2px hsla(348, 100%, 85%, 0.08), inset 0px 3px 9px 0px rgba(243, 148, 227, 0.05);
            }

            & a {
                color: var(--secondary-link-color);
                text-decoration: underline;

                &:hover {
                    color: oklch(from var(--secondary-link-color) calc(1 - 0.075) c h);
                }
            }
        }

        & .bi {
            font-size: 1.2rem;
        }
    }

    .component-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 2rem;
        background-color: var(--component-header-bg);
        border-radius: 7px;
        box-shadow: var(--shadow-box);

        @media screen and (prefers-color-scheme: dark) {
            border-top: 1px solid hsla(188, 100%, 85%, 0.08);
            box-shadow: inset 0px 3px 9px 0px rgba(148, 229, 243, 0.05);
        }

        & .title {
            font-size: 1.4rem;
            color: var(--paragraph-color);
            padding: 0.8rem 1rem;
        }

        &:has(:nth-child(2)) > *:last-child {
            margin-right: 0.8rem;
            display: flex;
        }

        & .multi {
            gap: 0.5rem;
            display: flex;
            align-items: center;

            & > .btn,
            & > select,
            & > .btn-group,
            & > input {
                height: 40px !important;
                display: flex;
                align-items: center;
                box-shadow: none;
                background-color: var(--semi-frost-bg);
                color: var(--heading-color);
                border: 1px solid var(--border-stroke-weak);
            }

            & > .btn-group {
                & .btn.active {
                    background-color: var(--main-link-color-medium);
                    color: #fff;
                    text-shadow: 1px 1px 2px #00000082;
                }

                & .icon {
                    border-right: 1px solid var(--border-stroke-weak);
                }
            }
        }
    }

    header {
        padding: 12px 0;
        z-index: 10;
        background-color: var(--header-background);
        backdrop-filter: blur(14px);
        position: fixed;
        top: 0;
        width: 100%;

        & .cont {
            width: 100%;
            max-width: 1380px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;

            & .header-title {
                font-family: var(--font-family-heading);
                font-size: 1.8em;
                text-transform: uppercase;
                position: relative;
                display: flex;
                align-items: center;
                gap: 0.5rem;

                & .logo {
                    display: flex;
                    color: var(--heading-color);
                    border-radius: 2px;

                    & h3 {
                        line-height: 1;
                        font-size: 2rem;
                        margin-right: 0.3rem;
                        font-family: var(--font-family-base);
                        font-weight: 700;
                        letter-spacing: -1px;
                    }

                    & svg {
                        background-color: transparent;
                        --stop02: var(--heading-color);
                        --stop01: var(--medium-contrast-color);
                        --light-color: rgba(255, 255, 255, 0.1);

                        @media (prefers-color-scheme: dark) {
                            --stop01: var(--heading-color);
                            --stop02: var(--low-contrast-color);
                        }
                    }
                }
            }
        }
    }

    .hamburger {
        cursor: pointer;
        line-height: 0;
        user-select: none;

        & input {
            display: none;

            &:checked + svg {
                transform: rotate(-45deg);
            }

            &:checked + svg .line-top-bottom {
                stroke-dasharray: 20 300;
                stroke-dashoffset: -32.42;
            }
        }

        & svg {
            height: 2.4rem;
            transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);

            & .line {
                fill: none;
                stroke: var(--heading-color);
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 3;
                transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
            }

            & .line-top-bottom {
                stroke-dasharray: 12 63;
            }
        }
    }

    #main-menu .wrapper {
        display: flex;
        height: 3rem;
        gap: 1rem;
    }

    .menu-right {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    #main-menu .menu-links,
    #main-menu .menu-teams,
    .custom-select {
        width: 220px;
        position: relative;
        height: 40px;
        border-radius: 8px;
    }

    #main-menu .menu-teams,
    .custom-select {
        width: 250px;
    }

    .menu-links [type="checkbox"]:checked,
    .menu-links [type="checkbox"]:not(:checked),
    .menu-teams [type="checkbox"]:checked,
    .menu-teams [type="checkbox"]:not(:checked),
    .custom-select [type="checkbox"]:checked,
    .custom-select [type="checkbox"]:not(:checked) {
        position: absolute;
        left: -9999px;
        opacity: 0;
        pointer-events: none;
    }

    .menu-links .dropdown:checked + label,
    .menu-links .dropdown:not(:checked) + label,
    .menu-teams .dropdown:checked + label,
    .menu-teams .dropdown:not(:checked) + label,
    .custom-select .dropdown:checked + label,
    .custom-select .dropdown:not(:checked) + label {
        font-size: 1rem;
        font-weight: 600;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
        background-color: var(--semi-frost-bg);
        border: 1px solid var(--border-stroke-weak);
        color: var(--heading-color);
        cursor: pointer;
        user-select: none;
        transition: 0.6s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-links .dropdown:checked + label:hover,
    .menu-links .dropdown:not(:checked) + label:hover,
    .menu-teams .dropdown:checked + label:hover,
    .menu-teams .dropdown:not(:checked) + label:hover,
    .custom-select .dropdown:checked + label:hover,
    .custom-select .dropdown:not(:checked) + label:hover {
        border: 1px solid var(--border-stroke);
    }

    .menu-links .dropdown:checked + label:focus,
    .menu-links .dropdown:not(:checked) + label:focus,
    .menu-teams .dropdown:checked + label:focus,
    .menu-teams .dropdown:not(:checked) + label:focus,
    .custom-select .dropdown:checked + label:focus,
    .custom-select .dropdown:not(:checked) + label:focus {
        outline: 2px solid var(--main-link-color);
        outline-offset: 2px;
        border: 1px solid var(--border-stroke);
    }

    .menu-links .dropdown:checked + label:focus,
    .menu-teams .dropdown:checked + label:focus,
    .custom-select .dropdown:checked + label:focus {
        background-color: var(--main-link-color);
        color: var(--black-white);
        outline: 2px solid var(--secondary-link-color);
    }

    .suggestion-box a:focus {
        background-color: var(--main-link-color);
        color: var(--black-white);
        outline: 2px solid var(--main-link-color);
        outline-offset: -2px;
    }

    #player-search:focus,
    #player-search-mobile:focus {
        outline: 2px solid var(--main-link-color);
        outline-offset: 2px;
    }

    .menu-links .dropdown:checked + label,
    .menu-teams .dropdown:checked + label,
    .custom-select .dropdown:checked + label {
        background-color: var(--main-link-color);
        color: var(--black-white);
    }

    .menu-links .dropdown:checked + label:before,
    .menu-teams .dropdown:checked + label:before,
    .custom-select .dropdown:checked + label:before {
        pointer-events: auto;
    }

    .menu-links .dropdown:not(:checked) + label > i,
    .menu-teams .dropdown:not(:checked) + label > i,
    .custom-select .dropdown:not(:checked) + label > i {
        font-size: 24px;
        color: var(--medium-contrast-color);
        transition: transform 200ms linear;
    }

    .menu-links .dropdown:checked + label > i,
    .menu-teams .dropdown:checked + label > i,
    .custom-select .dropdown:checked + label > i {
        transform: rotate(180deg);
        font-size: 24px;
        transition: transform 200ms linear;
    }

    .menu-links .section-dropdown,
    .menu-teams .section-dropdown,
    .custom-select .section-dropdown {
        position: absolute;
        padding: 5px;
        background-color: var(--black-white);
        top: 4rem;
        left: 0;
        width: 100%;
        border-radius: 5px;
        display: block;
        box-shadow: var(--shadow-box);
        z-index: 8;
        opacity: 0;
        pointer-events: none;
        transform: translateY(20px);
        transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .menu-links .dropdown:checked ~ .section-dropdown,
    .menu-teams .dropdown:checked ~ .section-dropdown,
    .custom-select .dropdown:checked ~ .section-dropdown {
        opacity: 1;
        pointer-events: auto;
        transform: translateY(0);
    }

    .custom-select .dropdown:checked ~ .section-dropdown {
        transform: translateY(-5px);
    }

    .menu-teams .section-dropdown .fader-top,
    .custom-select .section-dropdown .fader-top {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 40px;
        background-image: linear-gradient(180deg, var(--black-white), transparent);
        z-index: 2;
        border-bottom-left-radius: 5px;
        user-select: none;
        pointer-events: none;
    }

    .menu-teams .section-dropdown .fader-bottom,
    .custom-select .section-dropdown .fader-bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 40px;
        background-image: linear-gradient(0deg, var(--black-white), transparent);
        z-index: 2;
        border-bottom-left-radius: 5px;
        user-select: none;
        pointer-events: none;
    }

    .menu-teams .section-dropdown .container,
    .custom-select .section-dropdown .container {
        max-height: 300px;
        overflow-y: auto;
        padding: 0.8rem 0;
    }


    .menu-links .section-dropdown:after,
    .menu-teams .section-dropdown:after,
    .custom-select .section-dropdown:after {
        position: absolute;
        top: -7px;
        left: 30px;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid var(--black-white);
        content: "";
        display: block;
        z-index: 2;
        transition: all 200ms linear;
    }

    .menu-links .section-dropdown a,
    .menu-teams .section-dropdown a,
    .custom-select .section-dropdown a {
        position: relative;
        color: var(--heading-color);
        transition: all 200ms linear;
        font-family: var(--font-family-base);
        font-weight: 500;
        font-size: 15px;
        border-radius: 3px;
        padding: 5px 0;
        padding-left: 15px;
        padding-right: 15px;
        margin: 2px 0;
        text-align: left;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-teams .section-dropdown a,
    .custom-select .section-dropdown a {
        justify-content: flex-start;
    }

    .menu-links .section-dropdown a:hover,
    .menu-teams .section-dropdown a:hover,
    .menu-links .dropdown-sub:checked + label:hover,
    .menu-teams .dropdown-sub:checked + label:hover,
    .menu-links .dropdown-sub:not(:checked) + label:hover,
    .menu-teams .dropdown-sub:not(:checked) + label:hover,
    .custom-select .section-dropdown a:hover,
    .custom-select:checked + label:hover,
    .custom-select .dropdown-sub:not(:checked) + label:hover {
        color: var(--black-white);
        background-color: var(--main-link-color);
    }

    .menu-links .section-dropdown a:focus,
    .menu-teams .section-dropdown a:focus,
    .menu-links .dropdown-sub:checked + label:focus,
    .menu-teams .dropdown-sub:checked + label:focus,
    .menu-links .dropdown-sub:not(:checked) + label:focus,
    .menu-teams .dropdown-sub:not(:checked) + label:focus,
    .custom-select .section-dropdown a:focus,
    .custom-select:checked + label:focus,
    .custom-select .dropdown-sub:not(:checked) + label:focus {
        color: var(--black-white);
        background-color: var(--main-link-color);
        outline: 2px solid var(--main-link-color);
        outline-offset: -2px;
    }

    .menu-links .section-dropdown a > i,
    .menu-teams .section-dropdown a > i,
    .custom-select .section-dropdown a > i {
        font-size: 22px;
    }

    .menu-links .dropdown-sub:checked + label,
    .menu-teams .dropdown-sub:checked + label,
    .custom-select .dropdown-sub:checked + label,
    .menu-links .dropdown-sub:not(:checked) + label,
    .menu-teams .dropdown-sub:not(:checked) + label,
    .custom-select .dropdown-sub:not(:checked) + label {
        position: relative;
        color: var(--heading-color);
        transition: all 200ms linear;
        font-family: var(--font-family-base);
        font-weight: 500;
        font-size: 15px;
        border-radius: 2px;
        padding: 5px 0;
        padding-left: 20px;
        padding-right: 15px;
        text-align: left;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .menu-links .dropdown-sub:checked + label > i,
    .menu-teams .dropdown-sub:checked + label > i,
    .custom-select .dropdown-sub:checked + label > i,
    .menu-links .dropdown-sub:not(:checked) + label > i,
    .menu-teams .dropdown-sub:not(:checked) + label > i,
    .custom-select .dropdown-sub:not(:checked) + label > i {
        font-size: 22px;
    }

    .menu-links .dropdown-sub:not(:checked) + label > i,
    .menu-teams .dropdown-sub:not(:checked) + label > i,
    .custom-select .dropdown-sub:not(:checked) + label > i {
        transition: transform 200ms linear;
    }

    .menu-links .dropdown-sub:checked + label > i,
    .menu-teams .dropdown-sub:checked + label > i,
    .custom-select .dropdown-sub:checked + label > i {
        transform: rotate(135deg);
        transition: transform 200ms linear;
    }

    .menu-links .section-dropdown-sub,
    .menu-teams .section-dropdown-sub,
    .custom-select .section-dropdown-sub {
        position: relative;
        display: block;
        width: 100%;
        pointer-events: none;
        opacity: 0;
        max-height: 0;
        padding-left: 10px;
        padding-right: 3px;
        overflow: hidden;
        transition: all 200ms linear;
    }

    .menu-links .dropdown-sub:checked ~ .section-dropdown-sub,
    .menu-teams .dropdown-sub:checked ~ .section-dropdown-sub,
    .custom-select .dropdown-sub:checked ~ .section-dropdown-sub {
        pointer-events: auto;
        opacity: 1;
        max-height: 999px;
    }

    .menu-links .section-dropdown-sub a,
    .menu-teams .section-dropdown-sub a,
    .custom-select .section-dropdown-sub a {
        font-size: 14px;
    }

    .menu-links .section-dropdown-sub a > i,
    .menu-teams .section-dropdown-sub a > i,
    .custom-select .section-dropdown-sub a > i {
        font-size: 20px;
    }

    #team-selection a span img,
    #team-selection-custom a span img,
    #team-player-stats-selection a span img {
        width: 24px;
        height: 24px;
        margin-right: 10px;
    }

    .sm-only {
        display: none;
    }

    #activity {
        position: relative;
        width: 24px;
        height: 24px;
        z-index: 99999;
        transform: translateY(1px);
        display: none;
    }

    #activity-sm {
        position: absolute;
        width: 24px;
        height: 24px;
        right: 1rem;
        z-index: 99999;
        display: none;
    }

    .loader {
        width: 100%;
        height: 100%;
        border: 4px solid var(--low-contrast-color);
        border-bottom-color: var(--secondary-link-color);
        border-radius: 50%;
        display: flex;
        box-sizing: border-box;
        animation: loader 1s linear infinite;
    }

    .wrap {
        width: 100%;
        max-width: 1380px;
        margin: 140px auto 7rem;
    }

    .wrap.extended {
        max-width: 100%;
        margin: 0;
        padding: 5rem;
    }


    .modal {
        background-color: var(--player-modal-bg);
        backdrop-filter: blur(20px);
        padding: 0;
        border-radius: 10px;
        width: 85%;
        max-width: 1000px;
        border: 1px solid var(--border-stroke-weak);
        color: var(--paragraph-color);
        outline: none;
        overflow: hidden;

        transition:
            opacity .3s ease-out,
            transform .3s ease-out,
            backdrop-filter .3s ease-out,
            display .3s ease-out;

        @starting-style {
            opacity: 0;
            transform: translateY(40px);
        }

        [open] {
            opacity: 1;
            transform: translateY(0);
        }

        &.closing {
            opacity: 0;
            transform: translateY(20px);
        }

        &::backdrop {
            background-color: rgba(0, 0, 0, 0.7);
            opacity: 1;
            transform: translateY(0);
            transition:
                opacity .5s ease-in-out,
                transform .5s ease-in-out,
                display .5s ease-in-out;

            @starting-style {
                opacity: 0;
                transform: translateY(0);
            }
        }

        & .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
            border-bottom: 1px solid var(--border-stroke-weak);
            font-size: 0.8rem;
            line-height: 1;
            color: var(--heading-color);
        }

        & .modal-content {
            padding: 1rem;
            max-height: 75vh;
            overflow-y: auto;
        }
    }

    .modal .close {
        color: var(--main-link-color);
        float: right;
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.2s linear;
    }

    .modal .close:hover {
        color: oklch(from var(--main-link-color) calc(1 - 0.075) c h);
    }

    .modal .series-game {
        padding: 1rem;
        border-radius: 10px;
        background-color: var(--semi-frost-bg-2);
        border: 1px solid var(--border-stroke-weak);
    }

    .modal .series-game .game-date {
        font-size: 0.9rem;
        margin-bottom: 1rem;
    }

    .modal .series-game .game-teams {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .modal .series-game .game-teams .team {
        font-weight: 600;
        font-family: var(--font-family-heading);
        font-size: 1.5rem;
        color: var(--heading-color);
        max-height: 50px;
        mix-blend-mode: luminosity;
        opacity: 0.5;
    }

    .modal .series-game .game-teams .team.won {
        mix-blend-mode: normal;
        opacity: 1;
    }

    .modal .series-game .game-teams .team img {
        width: 60px;
        height: 60px;
        mask: var(--logo-mask-subtle);
        transform: translateY(4px);
    }

    dialog {
        border: none;
        border-radius: 10px;
        overflow: clip;
        padding: 0;
        background-color: var(--semi-frost-bg);
        backdrop-filter: blur(20px);
        width: 90%;
        max-width: 900px;
        transform: translateY(-20px);

        &, &::backdrop {
            transition:
            display .6s allow-discrete,
            overlay .6s allow-discrete,
            opacity .6s ease 300ms,
            transform .6s ease 300ms;

            opacity: 0;
            transform: translateY(20px);
        }

        &[open] {
            opacity: 1;
            transform: translateY(0px);

            &::backdrop {
            opacity: 1;
            }
        }

        @starting-style {
            &[open],
            &[open]::backdrop {
            opacity: 0;
            }

            &[open] {
            transform: translateY(10px);
            }
        }

        &::backdrop {
            background: rgba(0, 0, 0, 0.7);
        }

        & .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.6rem;
        }

        & .modal-title {
            margin: 0;
            font-size: 1rem;
            font-style: normal;
            color: var(--heading-color);
            font-family: var(--font-family-base);
            flex: 1;
            padding-left: 1rem;
        }

        & .modal-close {
            background: none;
            border: none;
            cursor: pointer;
            color: var(--heading-color);
            border-radius: 4px;
            transition: color 0.2s;
        }

        & .modal-close:hover {
            color: var(--main-link-color);
        }

        & .modal-body {
            padding: 1rem;
            background-color: var(--content-box-bg);

            &:has(.youtube-video-container) {
                padding: 0;
                background-color: transparent;
            }
        }
    }

    .flex-default {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1rem;
    }

    .flex-default > :last-child {
        margin-left: auto;
    }

    .btn-group {
        display: flex;
        align-items: center;
        background-color: var(--button-group-bg);
        color: var(--medium-contrast-color);
        border-radius: 0.3rem;
        gap: 0.2rem;
        box-shadow: var(--shadow-box);
        padding: 0 4px;
    }

    .btn-group > a,
    .btn-group > i {
        padding: 0.5rem 0.7rem;
        background-color: transparent;
        border-radius: 3px;
        color: var(--medium-contrast-color);
        box-shadow: none;
    }

    .btn-group > .icon {
        padding: 8px 8px 8px 4px;
        border-right: 1px solid var(--component-header-bg);
    }

    .btn-group .btn > i {
        font-size: 0.9rem;
    }

    .btn-group .btn:hover {
        color: var(--heading-color);
        background-color: var(--main-darker-bg);
    }

    .btn-group .btn.active {
        color: var(--main-link-color);
        background-color: var(--component-header-bg);
    }

    table {
        width: 100%;
        color: var(--heading-color);
        border-collapse: collapse;
        white-space: nowrap;
    }

    table thead th {
        color: var(--medium-contrast-color);
    }

    table tbody tr.season td span {
        color: var(--medium-contrast-color);
        font-weight: normal;
    }

    table tbody tr.season td span.hot {
        color: var(--secondary-link-color);
    }

    table thead td {
        background-color: var(--table-td);
        padding: 0.6rem 0.8rem;
        font-size: 0.8em;
        font-weight: bold;
    }

    table thead td:first-child {
        border-top-left-radius: 5px;
    }

    table thead td:last-child {
        border-top-right-radius: 5px;
    }

    table tbody tr:last-child td:first-child {
        border-bottom-left-radius: 5px;
    }

    table tbody tr:last-child td:last-child {
        border-bottom-right-radius: 5px;
    }

    table > tbody > tr > td {
        background-color: var(--table-td);
        padding: 0.5rem 0.8rem;
        vertical-align: middle;
        transition: all 0.3s;
        color: var(--paragraph-color);
        font-size: 1rem;
    }

    table.jsDataTable-table.hover > tbody > tr:hover > td {
        box-shadow: inset 0 0 0 9999px var(--table-hover-bg);
        color: #fff;
    }

    table.jsDataTable-table.hover > tbody > tr:hover > td > a {
        color: #fff;
    }

    table tbody tr:nth-child(odd) td {
        background-color: var(--table-td-odd);
    }

    table tbody td img {
        vertical-align: middle;
        margin: 0 0.5em 0 0;
    }

    table tbody td.image {
        display: flex;
        align-items: center;
    }

    table tbody td.name strong {
        width: 1em;
        display: inline-block;
    }

    table.small thead td {
        padding: 0.5em 1em;
        font-weight: normal;
    }

    tbody .away td:first-child {
        border-top-left-radius: 5px;
    }

    tbody .away td:last-child {
        border-top-right-radius: 5px;
    }

    tbody .home td:first-child {
        border-bottom-left-radius: 5px;
    }

    tbody .home td:last-child {
        border-bottom-right-radius: 5px;
    }

    table thead th {
        color: var(--heading-color);
        font-size: 0.9rem;
    }

    table.border-only {
        border-spacing: 0;
    }

    table.border-only thead {
        height: 2rem;
    }

    table.border-only tbody td,
    table.border-only tbody tr:nth-child(odd) td {
        background-color: transparent;
        border-left: 2px solid var(--border-stroke-weak);
        border-top: 2px solid var(--border-stroke-weak);
    }

    table.border-only tbody tr td:first-child {
        border-left: 2px solid var(--border-stroke-weak);
    }

    table.border-only tbody tr td:last-child {
        border-right: 2px solid var(--border-stroke-weak);
    }

    table.border-only tbody tr:last-child td {
        border-bottom: 2px solid var(--border-stroke-weak);
    }

    table.border-only tbody .away td:first-child {
        border-top-left-radius: 8px;
    }

    table.border-only tbody .away td:last-child {
        border-top-right-radius: 8px;
    }

    table.border-only tbody .home td:first-child {
        border-bottom-left-radius: 8px;
    }

    table.border-only tbody .home td:last-child {
        border-bottom-right-radius: 8px;
    }

    #player-modal table.small tbody td {
        font-size: 1rem !important;
        font-weight: bold;
    }

    .dataTables_info {
        display: none !important;
    }

    .table-description {
        margin: 1rem 0 2rem;
        color: var(--medium-contrast-color);
        display: flex;
        width: 100%;
        column-gap: 2rem;
        row-gap: 1rem;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .table-description:hover p {
        color: var(--heading-color);
    }

    .table-description p {
        margin: 0;
        font-size: 0.9rem;
        transition: all 0.3s linear;
    }

    .fancy-button {
        --width: 210px;
        height: 70px;
        width: var(--width);
        display: inline-block;
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
        -webkit-appearance: none;
        appearance: none;
        background: linear-gradient(to bottom, var(--content-box-bg) 0, var(--dark-bg-color) 100%);
        color: #fff;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        position: relative;
        transition: all linear 0.2s;
        box-shadow: var(--shadow-button), inset 0px 3px 9px 0px rgba(148, 229, 243, 0.05);
        border-top: 1px solid hsla(188, 100%, 85%, 0.08);
    }

    .fancy-button:active::after {
        opacity: 0;
    }

    .fancy-button:hover {
        box-shadow: var(--box-shadow-nice), inset 0px 3px 9px 0px rgba(148, 229, 243, 0.05);
        transform: translateY(-3px);
    }

    .fancy-button:active {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        transform: scale(0.9);
    }

    .fancy-button span {
        width: calc(var(--width) + 60px);
        position: absolute;
        transform: translate(-50%, -55%);
        background: linear-gradient(to right, var(--medium-contrast-color) 0, #fff 10%, var(--medium-contrast-color) 20%);
        background-position: 0;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: fancyButtonShine 3s infinite linear;
        animation-fill-mode: forwards;
        -webkit-text-size-adjust: none;
        z-index: 2;
    }

    .jsDataTable-bottom {
        margin-top: 1rem;

        & .jsDataTable-pagination-list {
            gap: 0.5rem;

            & li {

                & a {
                    background-color: var(--button-group-bg);
                    color: var(--medium-contrast-color);
                    border-radius: 3px;
                    padding: 0.4rem 0.7rem;
                    min-width: 20px;
                    font-size: 0.9rem;

                    &:hover {
                        background-color: var(--main-darker-bg);
                        color: var(--heading-color);
                    }
                }

                &.active a {
                    background-color: var(--main-link-color);
                    color: var(--black-white);
                    cursor: default;

                    &:hover {
                        background-color: var(--main-link-color);
                        color: var(--black-white);
                    }
                }
            }
        }
    }

    .swiper:not(.schedule-games):not(.teambuilder) {
        mask-image: linear-gradient(to right, transparent 0%, white 0%, white 97%, transparent 100%);

        & .swiper-wrapper {
            padding: 1.5rem 0 3rem;

            & .swiper-slide {
                height: unset;
            }
        }

        & .swiper-button-next,
        & .swiper-button-prev {
            border-radius: 50%;
            background-color: var(--semi-frost-bg);
            backdrop-filter: blur(5px);
            color: var(--heading-color);
            box-shadow: var(--shadow-box);
            width: 46px;
            height: 46px;
            opacity: 0.7;
            top: 37%;
            z-index: 20;
            transition: all 0.3s;

            &:before,
            &:after {
                font-size: 1rem;
            }

            &:hover {
                opacity: 1;
                transform: scale(1.2);
            }
        }

        & .swiper-button-next {
            right: 2rem;

            @media (max-width: 768px) {
                right: 1rem;
            }

            &.swiper-button-disabled {
                opacity: 0;
            }
        }

        & .swiper-button-prev {
            left: 2rem;

            @media (max-width: 768px) {
                left: 1rem;
            }

            &.swiper-button-disabled {
                opacity: 0;
            }
        }

        & .youtube-swiper-pagination {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.2rem;

            & .swiper-pagination-bullet {
                background-color: var(--medium-contrast-color);
                box-shadow: inset 0 1px 2px rgb(0 0 0 / 75%);
            }

            & .swiper-pagination-bullet-active {
                background-color: var(--main-link-color);
                box-shadow: 0 2px 3px rgb(0 0 0 / 38%);
            }
        }
    }
}